.bodyAccountSettings{
  overflow-x: hidden;
  overflow-y: scroll;

  background-color: #f1f1f1;
}

.Settings{
  width: 60%;
  display: table;

  background-color: #4c96a0;

  margin: 12px auto;

  border-top: 2px solid #9e1415;
}

.Settings span{
  color: #fff;
  display: inline-block;

  margin: 10px;

  font-size: 20px;
}

.settingsForm{
  background-color: #fff;
  width: 95%;

  display: table;

  margin: 10px auto;
  padding: 20px auto;
}

.inputFieldSettings{
    padding: 5px;
    margin: 0 auto;
    margin-top: 10px;

    background-color: #fff;

    width: 75%;
}

.inputFieldSettings:focus{
  outline: 0;
}

.settingsForm p{
  width: 75%;
  margin: 0 auto;
  text-align: left;

  font-size: 12px;
  color: #555;
}

#btnSave{
  margin: 10px auto;
  margin-top: 30px;
  padding: 5px;
}

#input-error-field{
  background-color: #e39e97;
}

#input-error-description{
  color: #9e1415;
}
