.bodyDashboard{
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  grid-template-rows: auto;

  grid-template-areas:  "navbar navbar navbar navbar"
                        "welcome welcome welcome welcome"
                        ". employee client ."
                        ". recentActivity recentActivity ."
                        "footer footer footer footer";

  grid-column-gap: 3%;

  background-color: #f1f1f1;
}

.navbar{
  grid-area: navbar;
}

.welcome{
  padding: 3px;
  margin: 10px;

  border: solid 2px #4CAF50;
  background-color: #A5D6A7;
  color: #fff;

  grid-area: welcome;

  justify-self: right;

  border-radius: 3px;
}

.welcome a{
  color: #fff;
}

.stat{
  text-decoration: none;
  color: #fff;

  background-color: #4c96a0;

  text-align: center;

  padding: 5px;
  margin: 5px;

  margin-bottom: 20px;

  border-top: 2px solid #9e1415;
}

.stat span{

  font-size: 15px;

  vertical-align: middle;
}

#statCount{
  font-size: 40px;

  height: 100%;
}

#employee{
  grid-area: employee;
}

#client{
  grid-area: client;
}

#recentActivity{
  grid-area: recentActivity;

  background-color: #4c96a0;

  margin: 5px;
  margin-bottom: 10px;

  border-top: 2px solid #9e1415;
}

#recentActivity span{
  display: inline-block;

  color: #fff;

  margin: 10px;
  font-size: 20px;
}

#recents{
  width: 98%;
  margin: auto;
  margin-bottom: 10px;

  border-collapse: collapse;
}

#recents th, td{
  border: 1px solid #aaa;
  border-top: 0;

  text-align: center;

  height: 30px;
}

#recents th{
  border-bottom: 2px solid #aaa;
  font-style: italic;
}

#recents th:first-child, td:first-child{
  border-left: 0;
}

#recents th:last-child, td:last-child{
  border-right: 0;
}

#recents tr td a{
  text-decoration: none;
  color: #000;
}

.colDate{
  width: 100px;
  border-left: none;
}

.colName{
  width: 280px;
}

.colTime{
  width: 125px;
}

#recents tr:nth-child(even){
  background-color: #e0e0e0;
}

#recents tr:nth-child(odd){
  background-color: #fff;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
