body{
  text-align: center;
}

.form{
  margin: 50px auto;

  background-color: #437788;

  border-radius: 3px;
  max-width: 400px;
  width: 95%;
}

#login-logo{
  padding-top: 15px;
  height: 80px;
  display: block;
  margin: auto;
}

#info-span{
  color: #E0F2F1;
  font-size: 18px;
}

#login-button{
  width: 75%;
  height: 30px;
  margin: 15px;
}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 5px;
  text-align: center;
}
